html, body {
  height: 100%;
  margin: 0;
}

body {
    background-image: url('image/csm_Fotolia_64336912_X_Original_41023_d2446515ba.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
}

#topic {
  font-family: 'Young Serif';
  font-size: 5em;
  color:black;
  text-align:center;
}

#buttonforcreate {
  border: 1px solid rgb(43, 17, 17);
  border-radius: 8px;
  font-family: 'Young Serif';
  background: lightblue;
  margin-bottom: 20px;
  width: 250px;
  font-size: 1em;
  height: 60px;
  font-weight: bold;
}

#buttonforcreate:hover{
  text-decoration: underline;
}

#create_blog {
  font-family: 'Young Serif';
  display: none; 
  position: fixed; 
  top: 50%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
  z-index: 1000; 
  background: white; 
  border: 1px solid rgb(43, 17, 17);
  border-radius: 10px; 
              
  justify-content: center; 
    
    
  width: 50%; 
}

#create_blog h2{
  font-size: 2em;
}

#postedblog{
  font-family: 'Young Serif';
  color: black;
  width: 100%;
  margin: auto;
  display: flex;
}


.originalpost {
  border: 1px solid rgb(43, 17, 17);
  border-radius: 8px;
  width: 50%;
  margin: auto;
  background: white;
}

.post {
  border: 1px solid rgb(43, 17, 17);
  border-radius: 8px;
  width: 500px;
  margin: 1em auto;
  background: white;
}

.post h2:hover{
  text-decoration: underline;
}